{% extends "layout.html" %}

{% block title %}
    Chat
{% endblock %}

{% block chat %}

<script type="text/javascipt">
    $(document).ready(function(){
        var socket = io.connect("http://127.0.0.1:5000");
        socket.on('connect', function() {
            socket.send("User has connected!");
        });
    });
</script>

{% endblock %}

{% block main %}
<ul id="messageList"></ul>
<input type="text" id="messageInput" placeholder="Enter your message">
<button type="submit" id="messageSend">Send</button>

{% endblock %}