{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<form action="/" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
        &nbsp;<input name="submit" value="Look up" type="submit">
    </div>
</form>
{% if method=="POST" %}
    <p>The stock price of <strong>{{ quote['name'] }}</strong> is <strong>${{ quote['price'] }}</strong>.</p>
{% endif %}
<br />
<hr>
<br />
<h3>Your Holdings</h3>

{% if stocks is defined %}
<table class="styled-table center">
    <thead>
    <tr>
      <th>Company</th>
      <th>Number</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
    <tr>
      <td>{{ stock["symbol"] }}</td>
      <td>{{ stock["number"] }}</td>
      <td>${{ price[stock["symbol"]] }}</td>
      <td>${{ '%0.2f'| format(price[stock["symbol"]] * stock["number"]) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p class="small text-center text-muted">You don't own any stocks yet. Follow the documentation to <a href="https://github.com/shridpant/stockie" target="_blank">learn more</a>.</p>
{% endif %}
<br /><hr><br />
<p>Your remaining cash balance: ${{ cash }}</p>
<p>Your total wealth: ${{ wealth }}</p>

{% endblock %}

{% block footer %}
<footer class="small text-center text-muted">
    Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
</footer>
{% endblock %}