{% extends "layout.html" %}

{% block title %}
    {{ username }}
{% endblock %}

{% block custom %}
<style>
.input_bio {
    font-family: inherit;
    font-size: inherit;
    border: none;
    line-height: 1.5;
    background: transparent;
  }
  .input_dp {
    font-family: inherit;
    font-size: 0.45rem;
    line-height: 1.5;
  }
</style>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col" style="text-align: right;">
        <img src="{{ dp }}" style="max-width:35%; max-height:auto" alt="Profile Picture"><br /><br />
        <form action="/profile" method="post" enctype="multipart/form-data">
            <p>
                <input class="input_dp" type="file" name="dp_upload"><input class="input_dp" type="submit" value="Upload">
            </p>
        </form>
    </div>
    <div class="col-6" style="text-align: left;">
        <h1>Hi, {{ username }}!</h1>
    <form action="/profile" method="POST">
        <input class="input_bio" name="bio" type="search" value="{{ bio }}" maxlength="20">
    </form>
    </div>
</div>
<br /><hr><br />

<form role="search" action="/profile" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="User" type="text">
        &nbsp;<input type="submit" name="submit" value="Find">
    </div>
</form>
{% if method == "POST" %}
<br />
    {% if results is defined %}
        <dl class="center">
            {% for result in results %}
                <dt>{{ result["username"] }}</dt>
                <dd>- {{ result["bio"] }}</dd>
            {% endfor %}
        </dl>
    {% else %}
        <p><strong>No results</strong> found in our database :/</p>  
    {% endif %}
{% endif %}
<br />
{% endblock %}