{% extends "layout.html" %}

{% block title %}
    Quotes
{% endblock %}

{% block main %}
    {% if method=="GET" %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Look up</button>
    </form>
    {% elif method=="POST" %}
        <h3>Quote</h3>
        <p>The stock price of <strong>{{ quote['name'] }}</strong> is <strong>${{ quote['price'] }}</strong>.</p>
        <a href="/quote">Go back</a>
    {% endif %}

{% endblock %}